<a href="https://colab.research.google.com/github/barja8/python_intro/blob/master/session/py_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List
In this session we go practice about of the list in python, so What is a list ? 

A list is a compound of the different data type.
For example, we go create a new list with the next syntax is:

### 1.Created a List

m = '24 years old' 

name = 'antony'

dream = 'spatial data scientist'

new_list = [m, name, dream]
print(new_list, type(new_list))

In [21]:
# We replicate the code previously mentioned:
m = '24 years old' 
name = 'antony'
dream = 'spatial data scientistic'

# Identify variable types
print(type(m))
print(type(name))
print(type(dream))
print('---'*24)

# We create the new list of the next shape:
new_list = [name, m, dream]

# output the new list with the variable type:
print(new_list,type(new_list))

<class 'str'>
<class 'str'>
<class 'str'>
------------------------------------------------------------------------
['antony', '24 years old', 'spatial data scientistic'] <class 'list'>

### 2.Created list with different types
Now we go create new variable types and at the end, we included in the new list.

In [28]:
# Information about a meteorological station in Huancayo
# Maximum mean temperature (max_mena_temp) : 18.4°C
# Minimum mean temperature (min_mean_temp) : 04 °C
# Station (stat): Huaychulo 
# Altitude (alt): 3250 msnm

# Creating new variables:
max_mean_temp = 18.4
min_men_temp = 4
stat = 'Huaychulo'
alt = 3250

# Indentify the variable types
print(type(max_mean_temp))
print(type(min_men_temp))
print(type(stat))
print(type(alt))
print('---'*24)

# new list called information (info)
info = [stat, alt, max_mean_temp, min_men_temp]
print(info, type(info))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>
------------------------------------------------------------------------
['Huaychulo', 3250, 18.4, 4] <class 'list'>

### 3.Indentify the position index in a list
Is very important that you understand  position index in a list of python, because after we will indentify or extract a subset of data of a list.

In [33]:
# Positon index in list of python**

#      0   1   2   3   4   5  
x = [ 'a','n','t','o','n','y']
#     -6  -5  -4  -3  -2   -1

# Observation: The numeric value that is in the top and down is the position 
#              index, also

# x[1] = ? and x[-3] = ?
# What is the value ? I think that is is very easy :v
print('x[1] is = ',x[1])
print('x[2] is = ',x[-3])

x[1] is =  n
x[2] is =  o

### 4.List of list 
You can to create a list that contains another list, it  is available in python using the next syntaxis:

In [41]:
x = [['Meteorological station','Huaychulo'],
     ['Mean maximum temperature',18.4],
     ['Mean minimum temperature',4],
     ['Altitude',3250]
     ]

print(x)
print(type(x))

# Observation: You can calculate the length about your list using the function len()
len(x)
print('the lenght of the list is:', len(x))

[['Meteorological station', 'Huaychulo'], ['Mean maximum temperature', 18.4], ['Mean minimum temperature', 4], ['Altitude', 3250]]
<class 'list'>
the lenght of the list is: 4

### 5.Subset and conquer 
In this part, we go extract a specific value of the list using the index of the position.

In [47]:
x = ['antony','barja', 24, 'u.u']
print(x)
print('---'*24)
print(type(x))

# Extract value index:
print(x[0])
print(x[1])
print('Smile!',x[-1])

['antony', 'barja', 24, 'u.u']
------------------------------------------------------------------------
<class 'list'>
antony
barja
Smile! u.u

### 6.Subset and calculate
After of extracted some especific values, we can to do additional caculations.

In [78]:
x = ['geography',' is',' special']
print(x[0] + x[2])

y = ['a', 'b' ,'c','d','e']
print(y[1] + y[2])

geography special
bc

### 7.Slicing and dicing 
Is possible extract value multiple of a list usign the next syntaxis:

**my_list[start: end]**

*observation:* The start index will be included, but the end index is not.

In [88]:
x = ['spatial','data','science','R','Python','QGIS']
print(x)
print(x[2:])
print(x[:-3])
print(x[-3:])
print(x[1:])
print(x[:-1])

['spatial', 'data', 'science', 'R', 'Python', 'QGIS']
['science', 'R', 'Python', 'QGIS']
['spatial', 'data', 'science']
['R', 'Python', 'QGIS']
['data', 'science', 'R', 'Python', 'QGIS']
['spatial', 'data', 'science', 'R', 'Python']

### 8.Subsetting list of list

In [96]:
x = [['Apocalypsis','Neon moon', 'Affection','Hentai'],
     ['Cigarette after sex','Keane','Nirvana'],
     ['spotify','deezer','apple music'],
     ['Slowcore']]

x

# Extract value for rowns and columns
print(x[1][2])
print(x[0][2:])
print(x[0:][0])

Nirvana
['Affection', 'Hentai']
['Apocalypsis', 'Neon moon', 'Affection', 'Hentai']

### 9.Replace list element

In [98]:
x = ['spatial','data','science','R','Python','QGIS']
print(x)

# Change value of QGIS  for Tableu and Python for Matlab
x[-1] = 'Tableu'
x[4] = 'Matlab'

print(x)

['spatial', 'data', 'science', 'R', 'Python', 'QGIS']
['spatial', 'data', 'science', 'R', 'Matlab', 'Tableu']