<a href="https://colab.research.google.com/github/barja8/python_intro/blob/master/session/py_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List
In this session we go practice about of the list in python, so What is a list ? 

A list is a compound of the different data type.
For example, we go create a new list with the next syntax is:

### 1.Created a List

m = '24 years old' 

name = 'antony'

dream = 'spatial data scientist'

new_list = [m, name, dream]
print(new_list, type(new_list))

In [21]:
# We replicate the code previously mentioned:
m = '24 years old' 
name = 'antony'
dream = 'spatial data scientistic'

# Identify variable types
print(type(m))
print(type(name))
print(type(dream))
print('---'*24)

# We create the new list of the next shape:
new_list = [name, m, dream]

# output the new list with the variable type:
print(new_list,type(new_list))

<class 'str'>
<class 'str'>
<class 'str'>
------------------------------------------------------------------------
['antony', '24 years old', 'spatial data scientistic'] <class 'list'>

### 2.Created list with different types