<a href="https://colab.research.google.com/github/barja8/python_intro/blob/master/session/py_session01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to python** 
**¿What is python?**

Python is a versatile programing language in different aspects and also is considered how the first programing language to do **data science** 
the same that R.

### **1.Comments in python (#)**
Put the comments are very important to remember about the functions and purpose to scripts, in the future o when you share your code with another person it will be more simple and easy.

In [0]:
# My first hello spatial world in python ← it is a comment 
print('Hello spatial world')

Hello spatial world

### **2.Python as a calculator**
 In python you can to do differents math operation, it is very easy and fast!

In [0]:
# Basic operations
print('The sum of 12  + 23 is :', 12 + 23)         # Addition
print('The substraction of 5 - 34 is:', 5 - 34)    # Substraction  
print('The multiplicatin of 3 x 5 is:', 3 * 5 )    # Multiplication
print('La division of 3 / 5 is:', 3 / 5)           # Division

# Other operations 
print(2 ** 4)        # Exponents
print(10 % 3)        # Remainder
print(125 ** (1/3))  # Parentheses

The sum of 12  + 23 is : 35
The substraction of 5 - 34 is: -29
The multiplicatin of 3 x 5 is: 15
La division of 3 / 5 is: 0.6
16
1
4.999999999999999

### **3.Types of variables**
In python there are four type of variables, these are:
* __int:__ Integer  
* __float:__ Float
* __bool:__ Boolean
* __str:__ Strings

Now, you can guess the type of variable with a function **type()**

In [0]:
print('This is a variable of type:',type(15))
print('\nThis is a variable of type:', type(12.45))
print('\nThis is a variable of type:', type('Konoa'))
print('\nThis is a variable of type:', type(True))

This is a variable of type: <class 'int'>

This is a variable of type: <class 'float'>

This is a variable of type: <class 'str'>

This is a variable of type: <class 'bool'>

### **4.Variable assignment**
**¿What is a variable?**

A variable allows you to refer to a value with a name.
To create a variable you have to "=".

For example, Marcos (m) is 24 years old, also:
m = 24

In [0]:
# Creation of variable call it m with a value of 24
m = 24    
# For print the value we use the function **print(variable's name)**
print('Marcos is',m,'years old')
print('----'*24)

# Other examples:
she = 'Kanao'
descrip = ' has beautiful eyes :3'
print('Kimetzu no Yaiba:',she + descrip)
print('----'*24)

# In Chosica the temperature now (02/jan/2020) is of 25.5°C, also:
temp = 25.5
year = 2020
month = 'january'
day = 2
city = 'Chosica'

print('date:',day,'/',month,'/',year,
      '\nThe temperature in ',city,'is of',temp,'°C')

Marcos is 24 years old
------------------------------------------------------------------------------------------------
Kimetzu no Yaiba: Kanao has beautiful eyes :3
------------------------------------------------------------------------------------------------
date: 2 / january / 2020
The temperature in  Chosica is of 25.5 °C

### **5.Calculations with variables**
When you have different types of variable, you can to do different operations with this

In [0]:
# In the meteorological station in Ica has registered history of temperature from 1990 to 2020.
# Temperature january 2020: 27.5°C
# Temperature january 2010: 25.05°C
# Temperature january 2000: 22.12°C
# Temperature january 1990: 20.05°C 
# So, what are the mean temperature and your standard deviation? 

# Registered history of temperature 
temp_2020 = 27.5
temp_2010 = 25.05
temp_2000 = 22.12
temp_1990 = 20.05

# Mean y standard deviation of temperature are:
mean_temp = (temp_2020 + temp_2010 + temp_2000 + temp_1990)/4
sd_temp = ((temp_2020 - mean_temp)**2 + (temp_2010 - mean_temp)**2 + 
           (temp_2000 - mean_temp)**2 + (temp_1990 - mean_temp)**2)/(4 - 1)

print('The mean temperature for the meteorological station of Ica is:',mean_temp,'°C')
print('\nThe standard deviation of the temperature is:',round(sd_temp,2),'°C')

The mean temperature for the meteorological station of Ica is: 23.68 °C

The standard deviation of the temperature is: 10.69 °C

### **6.Type conversion**
In python you can to transform a type of variable to other type with the function:

* __str()__   : strings
* __int()__   : integer
* __float()__ : float
* __bool()__  : boolean

Exercise:
In this case the variable of temp_mean of that type is?   

temp_mean = '23.68'

and after, you have to transform to a floating type number with the function shown previously

In [0]:
# The temperature is:
temp_mean = '23.68'
print('The mean temperature is:',temp_mean, 'and is of type:',type(temp_mean))

# Using the function float()
temp_mean = float(temp_mean)
print('The temperature is:', temp_mean,'and is of type', type(temp_mean))

The mean temperature is: 23.68 and is of type: <class 'str'>
The temperature is: 23.68 and is of type <class 'float'>

##### *It is the end of the first sesion 001  :3*